################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PowerwallCompanion/AppPackages
/.vs/PowerwallCompanion/v17
/.vs/PowerwallCompanion/FileContentIndex
/PowerwallCompanion/bin
/PowerwallCompanion/BundleArtifacts
/PowerwallCompanion/obj
/PowerwallCompanion/PowerwallCompanion_StoreKey.pfx
/.vs/PowerwallCompanion/v16
/PowerwallCompanion/Licenses.cs
/PowerwallCompanion.Tests/bin/x64/Debug
/PowerwallCompanion.Tests/obj
